#install-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;

}

#overlay-text {
  color: white;
  font-size: 23px
}

#overlay-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#overlay-arrow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#overlay-checkb-ios {
  margin-left: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  -webkit-backface-visibility: hidden;

  & label {
    color: white;
    font-weight: 600;
  }
}

#overlay-checkb-android {
  margin-left: 10px;
  position: fixed;
  bottom:0%;
  width:100%;

  & label {
    color: white;
    font-weight: 600;
  }
}
