/**
 * Reusable values
 */

$light-blue: #93A9D8
$black: md-color('grey', '900')
$offwhite: md-color('grey', '100')
$white: #FFF
$darker-white: #f2f2f2
$darker-grey: #545454
$green: #46d246

$primary: $light-blue

$base-unit: 8px
$base-spacing: 2 * $base-unit
