{
  "presets": [
    ["es2015", { "loose":true, "modules":false }],
		"stage-2",
    "react"
  ],
  "plugins": [
		["transform-react-jsx", { "pragma":"h" }]
	],
  "env": {
    "test": {
      "presets": ["es2015"]
    },
    "production": {
      "presets": ["babili"]
    }
  }
}
